footer {
  padding: 1rem 0;
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  text-align: center;
  font-size: 0.8rem;
  color: #999;

  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}
